@import 'normalize.css';
@import 'imports/fonts';

:root {
    --side-margin: 2.4rem;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    @extend %question;
}

img,
svg {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button {
    border: none;
    background: transparent;
}

.main-wrapper {
    margin-right: var(--side-margin);
    margin-left: var(--side-margin);
}

.button {
    display: block;

}
