@import 'normalize.css';
@import 'imports/fonts';

:root {
    --side-margin: 2.4rem;
    --body-bg-color: #EDF1F9;
    --primary-color: #A729F5;
    --title-color: #313E51;
    --meta-color: #626c7;
    --shadow-color: rgba(143, 160, 193, 0.14);
    --button-bg-color: #FFF;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    @extend %question;

    background-color: var(--body-bg-color);
}

img,
svg {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button {
    border: none;
    background: transparent;
}

.main-wrapper {
    margin-right: var(--side-margin);
    margin-left: var(--side-margin);
}

.button {
    @extend %button;

    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.2rem;
    background-color: var(--button-bg-color);
}

.main-header {
    display: flex;
    align-items: center;
    min-height: 7.2rem;

    &__title {

    }

    &__mode-switch {
        margin-left: auto;
    }

    &__mode-switch [type=checkbox] {
        position: absolute;
        left: -999em;
    }
}

.mode-switch {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before,
    &::after {
        display: block;
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../assets/images/icon-sun-dark.svg');
        background-size: contain;
    }

    &::after {
        background-image: url('../assets/images/icon-moon-dark.svg');
    }

    &__switch {
        display: flex;
        width: 3.2rem;
        height: 2rem;
        margin: 0 1rem;
        border-radius: 1rem;
        background-color: var(--primary-color);
        justify-content: flex-start;
    }

    &__switch::after {
        content: '';
        flex: 0 0 1.2rem;
        margin: .4rem;
        border-radius: 1.2rem;
        background-color: #FFF;
    }

    :checked ~ & &__switch {
        justify-content: flex-end;
    }
}

.welcome-title {
    @extend %welcom-title-dark;

    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    color: var(--title-color);

    strong {
        font-weight: 500;
    }
}

.meta-title {
    @extend %meta;

    margin-top: 1.6rem;
    margin-bottom: 4rem;
    color: var(--meta-color);
}
