@import 'normalize.css';
@import 'imports/fonts';

:root {
    --side-margin: 2.4rem;
    --body-bg-color: #EDF1F9;
    --color-bg: #FFF;
    --color-primary: #A729F5;
    --title-color: #313E51;
    --meta-color: #626c7;
    --shadow-color: rgba(143, 160, 193, 0.14);
    --button-bg-color: #FFF;
    --color-bg-accent: #F4F6FA;
    --color-valid: #26d782;
    --color-error: #EE5454;
    --color-meta: #ABC1E1;
}

*,
::before,
::after {
    box-sizing: border-box;
}

:where(*) {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

fieldset {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    @extend %question;

    background-color: var(--body-bg-color);
    background-image: url('../assets/images/pattern-background-mobile-dark.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-blend-mode: soft-light;
}

img,
svg {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

progress {
    appearance: none;
    display: block;
    width: 100%;
    margin-bottom: 4rem;
}

::-webkit-progress-bar {
    height: 1.6rem;
    border: .4rem solid var(--color-bg);
    border-radius: 2rem;
    background-color: var(--color-bg);
}

::-webkit-progress-value {
    border-radius: 2rem;
    background-color: var(--color-primary);
}

[type=checkbox],
[type=radio] {
    position: absolute;
    left: -999em;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-right: var(--side-margin);
    margin-left: var(--side-margin);
}

.main-header {
    flex: 0 0 auto;
}

.main-wrapper > main {
    flex: 1 0 auto;
}

.invisible {
    position: absolute !important;
    inset: auto auto auto -9999em !important;
}

.button {
    @extend %button;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 6.4rem;
    margin-bottom: 1.2rem;
    padding: .9rem;
    border: .3rem solid var(--color-bg);
    border-radius: 1.2rem;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--dark-grey-blue);
    background-color: var(--color-bg);
    cursor: pointer;

    :where(:checked) ~ & {
        border-color: var(--color-primary);
    }

    &--submit {
        text-align: center;
        justify-content: center;
        border-color: var(--color-primary);
        color: var(--color-bg);
        background-color: var(--color-primary);
    }

    &--valid {
        border-color: var(--color-valid)
    }

    &--error {
        border-color: var(--color-error);
    }

    &--valid::after,
    &--error::after {
        content: '';
        width: 3.2rem;
        height: 3.2rem;
        margin-left: auto;
        background-image: url('../assets/images/icon-correct.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--error::after {
        background-image: url('../assets/images/icon-error.svg');
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin-right: 1.8rem;
        border-radius: .6rem;
        background-color: var(--color-bg-accent);
    }

    &--error &__icon {
        color: var(--color-bg);
        background-color: var(--color-error);
    }
}

.main-header {
    display: flex;
    align-items: center;
    min-height: 7.2rem;

    &__title {

    }

    &__mode-switch {
        margin-left: auto;
    }
}

.mode-switch {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before,
    &::after {
        display: block;
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../assets/images/icon-sun-dark.svg');
        background-size: contain;
    }

    &::after {
        background-image: url('../assets/images/icon-moon-dark.svg');
    }

    &__switch {
        display: flex;
        width: 3.2rem;
        height: 2rem;
        margin: 0 1rem;
        border-radius: 1rem;
        background-color: var(--color-primary);
        justify-content: flex-start;
    }

    &__switch::after {
        content: '';
        flex: 0 0 1.2rem;
        margin: .4rem;
        border-radius: 1.2rem;
        background-color: #FFF;
    }

    :checked ~ & &__switch {
        justify-content: flex-end;
    }
}

.subject-selection {
    margin-top: 4rem;
}

.welcome-title {
    @extend %welcom-title-dark;

    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    color: var(--title-color);

    strong {
        display: block;
        font-weight: 500;
    }
}

.meta-title {
    @extend %meta;

    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
    color: var(--meta-color);
}

.question {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    margin-bottom: 2.4rem;
}

.error {
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: var(--color-error);

    &:empty {
        display: none;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        margin-top: -.4rem;
        margin-right: .6rem;
        vertical-align: middle;
        background-image: url('../assets/images/icon-incorrect.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.score-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: var(--color-bg);

    &__score {
        font-family: Rubik;
        font-size: 88px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
    }

    &__meta {
        font-family: Rubik;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: var(--color-meta);
    }
}

.icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;

    &__icon {
        width: 4rem;
        height: 4rem;
        margin-right: 1.2rem;
        padding: .6rem;
        border-radius: .4rem;
        background-color: #F6E7FF;
    }
}

[disabled] [data-quizz="submit"] {
    display: none;
}

[data-quizz="next"] {
    display: none;

    [disabled] ~ & {
        display: block;
    }
}
